.footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 80px
}

.footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0
}

.footer p.footer-links {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px;
    padding: 0
}

.footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit
}

.footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px
}

.footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px
}

@media (max-width: 600px) {
    .footer .footer-left, .footer .footer-right {
        text-align: center
    }

    .footer .footer-right {
        float: none;
        margin: 0 auto 20px
    }

    .footer .footer-left p.footer-links {
        line-height: 1.8
    }
}

.form-control {
    background-color: #ffffff !important;
    color: #999;
}

.navbar {
    position: relative;
   /* min-height: 100px !important;*/
}

.navbar-nav > li > a {
    padding-top: 30px !important;
    padding-bottom: 15px;
}


.input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
    border-image: initial;
}




